<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>설문조사</title>
  <!-- 외부 스타일 파일 -->
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/survey.css">
  <!-- 스프링부트 스타일 파일 -->
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/survey.css">
  <!-- jQuery 연결 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" ></script>
  <script src="/js/survey/survey_daily.js"></script>
</head>
<body>
<!-- 컨텐츠 영역 -->
<div id="content">
  <h2 class="title">레벨테스트</h2>
  <h1 class="subtitle">일일 학습목표는 어느 정도인가요?</h1>
  <ul class="survey-list">
    <li th:data-goal="'MIN_3'" th:text="'하루 3분'">하루 3분</li>
    <li th:data-goal="'MIN_5'" th:text="'하루 5분'">하루 5분</li>
    <li th:data-goal="'MIN_15'" th:text="'하루 15분'">하루 15분</li>
    <li th:data-goal="'MIN_30'" th:text="'하루 30분'">하루 30분</li>
    <li th:data-goal="'HOUR_1'" th:text="'하루 60분'">하루 60분</li>
  </ul>
</div>
</body>
</html>
