<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>설문조사</title>
  <!-- 외부 스타일 파일 -->
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/survey.css">
  <!-- 스프링부트 스타일 파일 -->
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/survey.css">
  <!-- jQuery 연결 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" ></script>
  <script src="/js/survey/survey_level.js"></script>
</head>
<body>

<!-- 컨텐츠 영역 -->
<div id="content">
  <h2 class="title">레벨테스트</h2>
  <h1 class="subtitle">자신의 레벨은 어느 정도인 것 같나요?</h1>
  <ul class="survey-list" th:each="level : ${levels}">
    <li th:text="${level}"></li>
  </ul>
</div>
</body>
</html>