<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>

    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/y_header.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="stylesheet" href="/static/css/setting.css">
    <link rel="stylesheet" href="/static/css/profile.css">


    <script src="https://kit.fontawesome.com/1b78245624.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

</head>
<body>

<!-- 헤더 불러오기 -->
<div th:replace="~{fragments/y_header :: yHeaderFragment}"></div>

<section class="main">
    <h1>프로필</h1>
        <div class="profile-section">
            <!-- 프로필 이미지 -->
            <div>
                <label for="set_profile" style="cursor: pointer;">프로필 이미지</label> <br>
                <p>
                    업로드할 이미지를 선택하세요
                </p>
                <div class="upload-img">
                    <input type="file" id="set_profile" name="profileImg" style="display: none;" />
                    <!-- <img src="/static/default/profile.webp" alt=""> -->
                    <img th:src="${settingInfo != null && settingInfo.profileImg != null ? '/profileImg/' + settingInfo.profileImg : '/default/profile.webp'}" alt="프로필 이미지" />
                    <button type="button" class="img-btn" id="uploadButton">사진업로드</button>
                </div>
                
            </div>
        
            <div>
                <p>학습 언어
                <br>
                <span th:text="${studyStatus != null && studyStatus.language != null ? studyStatus.language.languageName : '정보 없음'}">
                
                </span>
                </p>
            </div>
            <div>
                <p>습득한 경험치 &nbsp;&nbsp;&nbsp; +
                    <span th:text="${memberInfo.userExp}">EXP</span>
                </p>
            </div>
        </div>

        <hr>

    <form id="profileForm" th:action="@{/updateProfile}" method="post">
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname" th:value="${memberInfo.nickname}" readonly />
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" th:value="${memberInfo.email}" readonly />
        </div>
        <div>
            <label for="birthDate">생일</label>
            <input type="text" id="birthDate" name="birthDate" 
                   th:value="${memberInfo.birth}" 
                   readonly />
        </div>

        <div id="password" style="display: none;">
            <div>
                <label for="password1">비밀번호 재설정</label>
                <input type="password" id="password1" name="password" />
            </div>
            
            <div>
                <label for="password2">비밀번호 2차 확인</label>
                <input type="password" id="password2" name="passwordConfirm" />
            </div>
        </div>
        
        <!-- 버튼들 -->
        <div class="btn-container">
            <button type="button" id="deleteAccount">계정 삭제하기</button>
            <button type="button" id="editButton">수정하기</button>
            <button type="submit" id="submitButton" style="display: none;">제출</button>
        </div>
        
    </form>

</section>

<script th:src="@{/js/profile.js}"></script>
</body>
</html>
