<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/setting.css">
    <link rel="stylesheet" href="/static/css/y_header.css">

    <!-- 아이콘  -->
    <script src="https://kit.fontawesome.com/1b78245624.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav th:fragment="yHeaderFragment">
        <section>
            <div class="logo">
                <a th:href="@{/doge}">
<!--                    <img src="/image/DOGE_Logo.png" alt="DOGE_Logo">-->
                     <p>Langvo</p>
                </a>
            </div>
            <div class="learn">
                <a th:href="@{/classpage}">
                    <i class="fa-solid fa-house"></i>
                    <p>학습하기</p>
                </a>
                
            </div>
            <div class="leaderboard">
                <a href="#">
                    <i class="fa-solid fa-trophy"></i>
                    <p>리더보드</p>
                </a>
            </div>
            <div class="quest">
                <a th:href="@{/Quest-Progress}">
                    <i class="fa-solid fa-lightbulb"></i>
                    <p>퀘스트</p>
                </a>
            </div>
            <div class="shop">
                <a th:href="@{/Purchase}">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <p>상점</p>
                </a>
            </div>
            <div class="profile">
                <a th:href="@{/profile}">
                    <i class="fa-solid fa-user"></i>
                    <p>프로필</p>
                </a>
            </div>
            <div class="setting">
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <p>설정</p>
                </a>
            </div>
            <div class="log-out">
                <a th:if="${session.loggedInUser == null}" th:href="@{/login}">
                    <i class="fa-solid fa-right-from-bracket"></i>로그인
                </a>
                <a th:if="${session.loggedInUser != null}" th:href="@{/logout}">
                    <i class="fa-solid fa-right-from-bracket"></i>로그아웃
                </a>
            </div>
        </section>
        
    </nav>
</body>
</html>