/*폰트어썸 연결*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none; padding: 0;
}

a {text-decoration: none;}

/*-------------- 내비게이션 영역 -------------------*/

#naviBox {
  width: 100%; height: 60px;
  /* 화면 상단, 좌측에 고정 */
  position: sticky; top: 0; left: 0;
  z-index: 9;
  border-bottom: 1px solid #dde1e6;
  /* overflow: hidden; */
}

#naviBox2 {
  width: 100%; max-width: 1200px; height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logoBox {
  width: 20%;
  display: flex;
  align-items: center;
}

#logoBox img {
  width: 20px; height: 20px;
  margin-right: 5px;
}

#logoBox p {
  height: 20px;
  margin-top: 1px;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#menu { /* 메뉴 전체 박스 ul */
  display: flex;
  font-size: 10pt;
  gap: 20px;
}

.main { /* 메인 메뉴 리스트 */
  position: relative;
}

.main a {
  color: black;
  line-height: 40px;
  text-align: center;
  transition: .3s;
}

.main:hover > a {
  background: #f2f4f8;
  padding: 5px 10px;
}

.icon {
  font-size: 0.8rem; margin-left: 0.5rem;
  transition: .3s;
}

.main:hover .icon { transform: rotate(180deg);}

.sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.main:hover .sub {
  display: block;
}

.subList > a {
  display: block;
  line-height: 50px;
  text-align: center;
  transition: .3s;
}

.subList > a:hover {
  background: #f2f4f8;
}