#header {
    z-index: 999;
}

.background-1 {
    position: absolute;
    background-color: #DDE1E6;
    height: 50vh; 
    width: 100%; 
    top: 0;
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.background-2 {
    position: absolute;
    background-color: #f2f4f8;
    height: 50vh;
    width: 100%; 
    top: 50vh; 
    z-index: 2; 
}

/* 문의 폼 섹션 */
.inquiry-form {
    position: relative; 
    z-index: 3; 
    /* margin: 0 auto;  */
    margin: 0 30vw;
    justify-items: center;
    background-color: var(--white); 
    width: 40vw; 
    height: 65vh;
    top: 15vh; 
    color: var(--black); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    /* display: flexbox; */
}

.inquiry-from-second {
    padding: 5vh 0vw;
    /* justify-items: center; */
}

.inquiry-form h1 {
    font-size: 4.5rem;
    font-weight: bolder;
}

.inquiry-form p {
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
label {
    font-size: 1.5rem;
    /* margin-bottom: 0vh; */
    font-weight: bold;
}
input, textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin-top: 1vh;
    width: 100%;
    resize: none;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
}

.btn-container {
    text-align: right; 
    width: 100%; 
}

button {
    margin-top: 2vh;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 6vw;
    font-size: 1.5rem;
}
button:hover {
    background-color: #0056b3;
}