body {
    display: flex;
}

.main {
    background-color: aquamarine;
    width: 88vw;
    font-size: 2rem;
    padding: 4rem;
}

.view-data {
    margin-top: 5rem;
    background-color: azure;
}

.show-profile-img {
    width: 10rem;
    height: 10rem;
    background-color: bisque;
}