/* 전체 컨테이너 */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
    }

    .container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* 상단 진행도 바 및 문제 번호 */
    .top-bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-top: 10px;
    }

    .progress-bar-container {
      flex-grow: 0; /* 크기 고정 */
      width: 35%; /* 너비를 35%로 설정 */
      height: 8px;
      background-color: #ddd;
      border-radius: 4px;
      overflow: hidden;
      position: relative; /* 위치 조정용 */
      margin-right: 10px; /* 오른쪽 여백 */
    }

    .progress-bar {
      height: 100%;
      background-color: #4caf50;
      width: 0%; /* 초기 진행도 */
      transition: width 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
    }

    .question-tracker {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }

    /* 문제와 보기 */
    .question-area {
      display: flex;
      margin: 40px 0;
      width: 100%;
    }

    /* questionType이 2인 경우 .choices 스타일 */
    .question-area .choices {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    /* questionType이 2인 경우 .choice-button 스타일 */
    .question-area .choices .choice-button {
      display: flex;
      align-items: center; /* 텍스트와 오디오 플레이어 수직 정렬 */
    }

    .question-area .choices .choice-button audio {
      margin-left: auto; /* 오디오 플레이어를 오른쪽으로 정렬 */
    }

    /* questionType이 4인 경우 .question-audio-container 스타일 */
    .question-area .question-audio-container {
      margin-bottom: 20px; /* 아래쪽 여백 추가 */
    }

    .image-container {
      width: 40%;
    }

    .question-image {
      width: 100%;
      border-radius: 10px;
    }

    .question-text {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .choices-container {
      width: 60%;
      padding-left: 20px;
    }

    .choices {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .choice-button {
      padding: 15px;
      font-size: 1em;
      width: 35vw;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      cursor: pointer;
      text-align: left;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .choice-button:hover {
      border-color: #bbb;
    }

    .choice-button:focus {
        background-color: #f2f4f8;
    }

    .correct {
        background-color: rgba(0, 255, 0, 0.5); /* 녹색 */
        transition: background-color 0.3s ease;
    }

    .incorrect {
        background-color: rgba(255, 0, 0, 0.5); /* 빨간색 */
        transition: background-color 0.3s ease;
    }

    /* 하단 영역 */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    /* 타이머 스타일 */
    .base-timer {
      position: relative;
      height: 6vh;
      width: 6vh;
    }

    .base-timer__circle {
      fill: none;
      stroke: none;
    }

    .base-timer__path-elapsed {
      stroke-width: 1vh;
      stroke: grey;
    }

    .base-timer__path-remaining {
      stroke-width: 1vh;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 1s linear all;
      stroke: currentColor;
    }

    .base-timer__path-remaining.green {
      color: lightgreen;
    }

    .base-timer__svg {
      transform: scaleX(-1);
    }

    .base-timer__label {
      position: absolute;
      width: 6vh;
      height: 6vh;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
    }