img {
    width: 10rem;
    height: 10rem;
}

nav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 12vw;
    height: 100vh;
    /* background-color: gray; */
    font-size: 2rem;
    border-right: 2px solid var(--light-grey);
}

nav > section > div > a{
    display: flex; 
    align-items: center; 
    margin: 2rem 0; 
    width: 100%;
    color: var(--text-grey);
}

i {
    margin-right: 2rem;
    /* font-size: 2vh; */
    /* color: var(--text-grey); */
}

p {
    font-weight: 500;
}

/* 정렬 */
.learn {
    padding-left: 0.1rem;
}

.learn i {
    margin-right: 1.9rem;
}

.quest {
    padding-left: 0.25rem;
}

.quest i {
    margin-right: 2.5rem;
}

.shop i {
    margin-right: 2.2rem;
}

.profile i {
    margin-right: 2.4rem;
}

.setting i {
    margin-right: 2.2rem;
}

.log-out i {
    margin-right: 2.2rem;
}
/* 정렬 끝 */