<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/y_header.css">
  <link rel="stylesheet" href="/css/chat_style.css">

  <link rel="stylesheet" href="/static/css/setting.css">
  <link rel="stylesheet" href="/static/css/chat_style.css">
  <title>Talk with James!</title>
</head>
<body>
<div>
  <div th:replace="~{fragments/y_header :: yHeaderFragment}"></div>
</div>
<div class="chat-container">
  <div class="chat-messages" id="chatMessages"></div>
  <div class="chat-input">
    <input type="text" id="messageInput" placeholder="James와 대화하기">
    <button id="sendButton">전송</button>
  </div>
</div>
<script src="/js/chat_script.js"></script>
</body>
</html>