<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의페이지</title>

    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/inquiry.css">
    <link rel="stylesheet" href="../static/css/setting.css">
    <link rel="stylesheet" href="../static/css/inquiry.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#header").load("header.html"); // header.html을 불러옵니다.
        });
    </script>

</head>
<body>

<!-- 헤더 불러오기 -->
<div id="header"></div>

<div class="body">
        <!-- 입력 폼 -->
    <div class="write-from">
        <div class="left">
            <div class="title">
                <h1>문의하기</h1>
                <p>불편사항을 보내주시면 빠른시일내에 답변드리겠습니다</p>
            </div>
        </div>
        
        
        <form th:action="@{/inquiry}" method="post">
            <label for="subject">문의 제목</label>
            <input type="text" id="subject" name="inqTitle" required>

            <label for="message">문의 내용</label>
            <textarea id="message" name="inqContent" rows="4" required></textarea>

            <label for="email">답변을 받을 이메일 주소</label>
            <input type="email" id="email" name="inqEmail" required>

            <button type="submit">제출하기</button>
        </form>
    </div>
    <!-- 입력 폼 end -->
</div>




</body>

</html>