<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>문의페이지</title>

    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/inquiry.css">

    <link rel="stylesheet" href="/static/css/setting.css">
    <link rel="stylesheet" href="/static/css/inquiry.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
<!--헤더 불러오기-->
<div th:replace="fragments/header :: headerFragment"></div>

<!-- 배경화면 -->
<div class="background-1"></div>
<div class="background-2"></div>

<section class="inquiry-form">
    <div class="inquiry-from-second">
        <h1>문의</h1>
        <p>불편사항을 적어주시면 빠른시간내에 답변드리겠습니다</p>
        <br><br><br>

        <form th:action="@{/inquiry}" method="post">
            <label for="subject">문의 제목</label>
            <input type="text" id="subject" name="inqTitle" required>
            <br>

            <label for="message">문의 내용</label>
            <textarea id="message" name="inqContent" rows="6" required></textarea>
            <br>

            <label for="email">답변을 받을 이메일</label>
            <input type="email" id="email" name="inqEmail" required>
            <br>

            <div class="btn-container">
                <button type="submit">보내기</button>
            </div>
            
        </form>
    </div>
    
</section>


</body>
</html>
