<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">>
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- 외부 스타일 파일 -->
        <link rel="stylesheet" href="./css/setting.css">
        <link rel="stylesheet" href="./css/main.css">
        <!--js 파일 추가  -->
        <script src="./js/main.js"></script>

        <!-- 스프링부트용 링크 추가 2025.01.09 HSJ -->
        <link rel="stylesheet" href="/css/setting.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/main.css">


    </head>
<body>

    <!--헤더 불러오기 2025.01.09 HSJ-->
    <div th:replace="fragments/header :: headerFragment"></div>

<!--    <div class="header">-->
<!--        <h1>Doge</h1>-->
<!--        <div class="menu">-->
<!--            <a href="#">메인페이지</a>-->
<!--            <a href="#">프로필</a>-->
<!--            <a href="#">학습페이지</a>-->
<!--            <a href="#">문의</a>-->
<!--            <div class="auth-buttons">-->
<!--                <button class="login">로그인</button>-->
<!--                <button class="signup">회원 가입</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="banner">
        <div class="text-content">
            <h2>미래를 위한 최고의 투자,<br>바로 언어 학습입니다.</h2>
            <h3>Doge와 함께 새로운 언어의 세계를 탐험하고 성공적인 학습 여정을 시작하세요.</h3>
            <button class="learn-button" onclick="goToLearningPage()">학습하기</button>
        </div>

        <script>
            function goToLearningPage() {
                window.location.href = "/classpage"; // 올바른 경로로 수정
            }
        </script>
        <!-- smiling-happy-indian-student-with-backpack-pointing-his-finger-wall 1 -> main_1   2025.01.09 HSJ -->
        <img src="/image/main_1.png" alt="학생 이미지">
    </div>
    <div class="image-container">
        <img src="/image/Group 1251.png" alt="New Image">
    </div>
    <div class="lesson-section">
        <h2>영어 학습, 더 이상 미루지 마세요! 
            <br>지금이 바로 시작할 때입니다.</h2>
        <h3>지루한 문법 공부는 이제 그만! 재미있고 효과적인 언어 학습으로 즐겁게 실력을 향상시키세요. 다양한 학습 방법과 흥미로운 콘텐츠가 여러분을 기다립니다</h3>
    <div class="banner-bar"></div>
    <div class="icon-section">
        <div class="icon-card">
            <button>
                <img src="/image/Group 37.png" alt="Icon 1">
                <h2>단순한 학습페이지</h2>
                <h3>"복잡한 이론은 이제 그만! 쉽고 직관적인 방식으로 핵심만 빠르게 배우세요. 누구나 쉽게 시작할 수 있습니다!</h3>
            </button>
        </div>
        <div class="icon-card">
            <button>
                <img src="/image/Group 38.png" alt="Icon 2">
                <h2>데이터를 기반으로한 학습</h2>
                <h3>"정확한 데이터 분석으로 당신만을 위한 맞춤 학습을 제공합니다."</h3>
            </button>
        </div>
        <div class="icon-card">
            <button>
                <img src="/image/Group 40.png" alt="Icon 3">
                <h2>자유로운 학습 설정</h2>
                <h3>"시간에 쫓기지 마세요! 원하는 시간, 원하는 속도로 학습할 수 있습니다. 자유로운 학습 설정으로 효율을 극대화하세요."</h3>
            </button>
        </div>
        <div class="icon-card">
            <button>
                <img src="/image/Group 41.png" alt="Icon 4">
                <h2>생활에도 사용 가능한 언어</h2>
                <h3>"일상생활에서 바로 쓸 수 있는 유용한 표현들을 배우면서, 외국 문화에 대한 이해도 함께 높여보세요!"</h3>
            </button>
        </div>
        <div class="icon-card">
            <button>
                <img src="/image/Group 42.png" alt="Icon 5">
                <h2>짧지만 유용한 학습</h2>
                <h3>"시간은 금! 짧은 학습 시간으로 핵심 내용을 완벽하게 습득하세요. 불필요한 반복 학습 없이, 효율적인 학습 경험을 제공합니다."</h3>
            </button>
        </div>
        <div class="icon-card">
            <button>
                <img src="/image/Group 39.png" alt="Icon 6">
                <h2>스트레스 없는 교육</h2>
                <h3>"잘해야 한다는 압박감 대신, 배우는 즐거움과 성장의 기쁨을 선물하세요. 스트레스 없는 교육이 함께합니다."</h3>
            </button>
        </div>
    </div>
    <div class="lesson-section">
        <h2 style="position: relative; top: -30px;">영어 , 지금까지의 수업 어렵지않았나요?</h2>
        <h3 style="position: relative; top: -15px;">학습은 즐거운 경험이 되어야 합니다. 편안하고 긍정적인 환경에서  더욱 창의적으로 성장할 수 있습니다. 스트레스 없는 교육을 선택하세요."</h3>
        <div class="video-container"> 
            <iframe 
                width="700" 
                height="500" 
                src="https://www.w3schools.com/html/mov_bbb.mp4"
                title="video player"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
    </div>

    <div class="comparison-section">
        <!-- friendly-confident-woman-writing-her-organizer-isolated-white-wall 1 -> main_2   2025.01.09 HSJ -->
        <img src="/image/friendly-confident-woman-writing-her-organizer-isolated-white-wall 1.png" alt="Comparison Image">
        <div class="comparison-content">
            <h2 class="large-text" style="position: relative; top: -60px;">영국영어? 미국영어?</h2>
            <h3 style="position: relative; top: -50px;">Doji는 잠재력을 최대한 발휘할 수 있도록 지원하는 교육 방식입니다.</h3>
            <h3 style="position: relative; top: -30px;">Doji 의 강점</h3>
            <div class="comparison-list">
                <div class="list-item">
                    <span>01</span>
                    <h3>유연한 선택</h3>
                </div>
                <div class="list-item">
                    <span>02</span>
                    <h3>맞춤 설정/개인 맞춤</h3>
                </div>
                <div class="list-item">
                    <span>03</span>
                    <h3>선택적인 강의</h3>
                </div>
                <div class="list-item">
                    <span>04</span>
                    <h3>스트레스 없는 학습</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- div 닫힘 태그 발견 및 수정 2025.01.09 HSJ -->
    <div class="review-section">
        <h2>Doji는 이런 수업입니다</h2>
        <h3>바쁜 일상 속에서도 효율적인 학습! 짧은 시간 투자로 놀라운 성장을 경험하세요. 핵심만 담아 시간 대비 최고의 효과를 보장합니다</h3>
        <!-- div 수정 2025.01.09 HSJ -->
        <div class="three-box-section">
            <div class="three-box">
                <img src="/image/images (1).jpg" alt="Box 1 Image">
                <h3>"점수 경쟁은 이제 그만!
                    진정한 성장에 집중하세요."</h3>

            </div>
            <div class="three-box">
                <img src="/image/images.jpg" alt="Box 2 Image">
                <h3>"등수가 아닌,
                    당신의 가능성에 주목합니다."</h3>

            </div>
            <div class="three-box">
                <img src="/image/2023041102467_0.jpg" alt="Box 3 Image">
                <h3>"더 이상 정해진 틀은 없다!
                    <br>자유로운 학습 설정으로 효율적인 학습을!"</h3>

            </div>
        </div>
    </div>
    

    <div class="review-section">
        <h2>Doji 언어 공부 후기</h2>
        <h3>"시간과 장소에 구애받지 않고 원하는 시간에 학습할 수 있어서 좋았습니다. 복습 시스템도 잘 갖춰져 있어 꾸준히 학습할 수 있었습니다."</h3>
        <div class="review-content">
            <div class="quote-box">
                <p>문법 기초부터 차근차근 알려주시고, 제가 편안하게 이야기할 수 있도록 분위기를 만들어주셨어요. 무엇보다 좋았던 건, 제가 틀린 부분을 지적하기보다 어떻게 고쳐나가야 할지 함께 고민해주셨다는 점입니다. 3개월 정도 지나니 간단한 대화가 가능해졌고, 외국인과의 대화도 두려워하지 않게 되었습니다. 지금은 여행 가서 간단한 주문 정도는 영어로 할 수 있게 되었어요! 앞으로는 더 유창하게 영어를 구사할 수 있도록 꾸준히 노력할 것입니다.</p>
            </div>
            <div class="reviewer-info">
            <!-- friendly-confident-woman-writing-her-organizer-isolated-white-wall 1 -> main_2   2025.01.09 HSJ -->
                <img src="/image/Rectangle 2042.png" alt="James Thomas">
                <h3>James Thomas</h3>
                <p>GERMANY</p>
            </div>
        </div>
    </div>
    

    <footer class="footer">
        <div class="footer-section logo">Doge</div>
        <div class="footer-section">
            <h3>도지 소개</h3>
            <ul>
                <li><a href="#">학습 안내</a></li>
                <li><a href="#">교육방식</a></li>
                <li><a href="#">학습 효과</a></li>
              
            </ul>
        </div>
        <div class="footer-section">
            <h3>학습안내</h3>
            <ul>
                <li><a href="selectQuestions.html">레벨 테스트</a></li>
                <li><a href="profile.html">개인정보 수정</a></li>

            </ul>
        </div>
        <div class="footer-section">
            <h3>도움말 및 지원</h3>
            <ul>
                <li><a href="#">도지 FAQ</a></li>
                <li><a href="profile.html">개인정보 수정</a></li>

            </ul>
        </div>
        <div class="footer-section">
            <button class="footer-button">학습 관련 문의</button>
        </div>
        <div class="footer-bottom">
            <p>Doge © 2024. All rights reserved.</p>
            <p><a href="#">언어</a> | <a th:href="@{/inquiry}">문의</a></p>
        </div>
    </footer>
