<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>

    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/y_header.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="stylesheet" href="/static/css/setting.css">
    <link rel="stylesheet" href="/static/css/profile.css">

    <script src="https://kit.fontawesome.com/1b78245624.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<!--헤더 불러오기-->
<div th:replace="fragments/y_header :: yHeaderFragment"></div>

<section class="main">
    <h1>프로필</h1>

    <!--db에 있는 유저 정보 가져오기 -->
    <div class="view-data">
        <div class="profile-img">
            <p>프로필 이미지</p>
            <div class="show-profile-img"></div>
        </div>
        <div class="nickname">
            <p>username</p>
        </div>
        <div class="join-date">
            <p>가입날짜</p>
        </div>
        <div class="learn-lang">
            <p>배우고 있는 언어</p>
        </div>
        <div class="exp">
            <p>습득한 경험치</p>
        </div>
        <div class="info">
            <p>닉네임</p>
            <p>생일</p>
            <p>이메일</p>
            <p>비밀번호</p>
        </div>
    </div>
    
    <!-- 프로필 수정 페이지 버튼-->
    <a href="/editProfile">프로필 수정</a> 
    
</section> 



</body>
</html>