<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 외부 스타일 파일 -->
    <link rel="stylesheet" href="/static/css/setting.css">
    <link rel="stylesheet" href="/static/css/Purchase.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" ></script>
</head>
<body>
    <div class="header">
        <h1>Doge</h1>
        <div class="menu">
            <a href="/main">메인페이지</a>
            <a href="/profile">프로필</a>
            <a href="/classpage">학습페이지</a>
            <a href="/inquiry">문의</a>
            <button class="test-button" onclick="location.href='/test-skill'">실력 테스트하기</button>


        </div>
    </div>
    <div class="top-section">
        <h2>스토어 / 기능 스토어</h2>
    </div>
    <div class="main">
        <div class="sidebar">

            <button class="test-button" onclick="location.href='/select_stage'">학습하기</button>
            <div class="menu-item" onclick="location.href='/Quest-Progress'">퀘스트</div>
            <div class="menu-item" onclick="location.href='/profile'">프로필</div>
            <div class="menu-item" onclick="location.href='/learning-record'">학습 기록</div>
            <div class="menu-item" onclick="location.href='/settings'">설정</div>
            <div class="menu-item" onclick="location.href='/logout'">로그아웃</div>
        </div>
        <div class="content">
            <div class="nav-buttons">
                <button onclick="location.href='#'">재화 기능 스토어</button>
                <button onclick="location.href='#'">현금 기능 스토어</button>
            </div>
            <div class="user-section">
                <img src="..\static\image\Profile.png" alt="User Profile">
            <div class="user-details">
                <p id="user-name" style="position: relative; top:-25px;">유저 이름: </p>
                    <p id="user-level" style="position: relative; top:-15px;">학습 레벨: </p>
                    
                    <p id="user-progress">오늘의 학습: </p>

                </div>
            </div>
            <div class="store-items">
                <div class="store-item">
                    <img src="/image/Rectangle 2043.png" alt="Subscription Icon">
                    <h3>구독권 30일</h3>
                    <p  style="position: relative; top:15px;">현금결제로 이용이 가능합니다.</p>
                   <button onclick="purchaseItem('구독권 30일')">구매하기</button>
                   <p style="position: relative; top:5px;"><span>🛒</span>구매결제</p>
                   <p style="position: relative; top:10px;"><span>✔️</span> 이전학습에도 적용가능</p>

                </div>
                <div class="store-item">
                    <img src="/image/Rectangle 2043.png" alt="Subscription Icon">
                    <h3>구독권 60일</h3>
                    <p style="position: relative; top:15px;"></p>현금결제로 이용이 가능합니다.</p>
                   <button onclick="purchaseItem('구독권 60일')">구매하기</button>
                   <p style="position: relative; top:5px;"><span>🛒</span>구매결제</p>
                   <p style="position: relative; top:10px;"><span>✔️</span> 이전학습에도 적용가능</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function purchaseItem(item) {
            alert(`${item}이(가) 구매되었습니다.`);
        }
    </script>
</body>
</html>
