<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 풀이</title>
    <link rel="stylesheet" th:href="@{/css/question.css}">
</head>
<body>
<div class="container">
    <!-- 문제 상단 영역 -->
    <div class="top-bar">
        <div class="progress-bar-container">
            <div class="progress-bar" id="progressBar"></div>
        </div>
        <div class="question-tracker" id="questionTracker"
             th:text="${currentQuestionIndex != null ? currentQuestionIndex + 1 : 1} + ' / ' + ${totalQuestions}">
        </div>
    </div>

    <!-- 문제와 보기 -->
    <div class="question-area" th:with="questionType=${questionType}, questionObj=${question}">
        <div th:if="${questionType == 2}" class="image-container">
            <img th:src="@{${questionObj.imageFile}}" alt="Image" class="question-image">
        </div>
        <div th:if="${questionType == 3}" class="video-container">
            <video th:src="@{${questionObj.videoFile}}" controls class="question-video"></video>
        </div>

        <div th:if="${questionType == 4}" class="question-audio-container">
            <audio th:src="@{${questionAudio}}" controls></audio>
        </div>

        <p th:unless="${questionType == 4}" class="question-text" id="questionText"
           th:text="${questionObj.question}" th:if="${questionObj.question != null}">
            다음 이미지를 보고, 올바른 답을 선택하세요.
        </p>

        <div class="choices-container">
            <div th:if="${questionType == 2}" class="choices">
                <form action="/submitAnswer" method="post">
                    <input type="hidden" name="selectedAnswer" value="1">
                    <button class="choice-button" th:onclick="'selectAnswer(1)'" id="choice1_type2">
                        <audio th:src="@{${ex1Audio}}" controls></audio>
                    </button>
                </form>
                <form action="/submitAnswer" method="post">
                    <input type="hidden" name="selectedAnswer" value="2">
                    <button class="choice-button" th:onclick="'selectAnswer(2)'" id="choice2_type2">
                        <audio th:src="@{${ex2Audio}}" controls></audio>
                    </button>
                </form>
                <form action="/submitAnswer" method="post">
                    <input type="hidden" name="selectedAnswer" value="3">
                    <button class="choice-button" th:onclick="'selectAnswer(3)'" id="choice3_type2">
                        <audio th:src="@{${ex3Audio}}" controls></audio>
                    </button>
                </form>
            </div>

            <div th:unless="${questionType == 2}" class="choices">
                <form action="/submitAnswer" method="post">
                    <input type="hidden" name="selectedAnswer" value="1">
                    <button class="choice-button" th:onclick="'selectAnswer(1)'" id="choice1_type_other" th:text="${question.ex1}"></button>
                </form>
                <form action="/submitAnswer" method="post">
                    <input type="hidden" name="selectedAnswer" value="2">
                    <button class="choice-button" th:onclick="'selectAnswer(2)'" id="choice2_type_other" th:text="${question.ex2}"></button>
                </form>
                <form action="/submitAnswer" method="post">
                    <input type="hidden" name="selectedAnswer" value="3">
                    <button class="choice-button" th:onclick="'selectAnswer(3)'" id="choice3_type_other" th:text="${question.ex3}"></button>
                </form>
            </div>  <!-- choices 끝 -->
        </div>  <!-- choices-container 끝 -->
    </div>  <!-- question-area 끝 -->

    <!-- 하단 영역 -->
    <div class="footer">
        <div id="timer_app"></div>
    </div>

    <!-- totalQuestions 값 설정 -->
    <input type="hidden" id="totalQuestions" th:value="${totalQuestions}">
    <!-- 현재 문제 인덱스 값 설정 -->
    <input type="hidden" id="currentQuestionIndex" th:value="${currentQuestionIndex}">
    <!-- 정답 인덱스 -->
    <input type="hidden" id="correctAnswerIndex" th:value="${question.answer}">
</div>
<script th:src="@{/js/timer.js}"></script>
<script th:src="@{/js/question.js}"></script>
</body>
</html>
