<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 풀이</title>
    <link rel="stylesheet" th:href="@{/css/question.css}">
</head>
<body>
<div class="container">
    <!-- 문제 상단 영역 -->
    <div class="top-bar">
        <div class="progress-bar-container">
            <div class="progress-bar" id="progressBar"></div>
        </div>
        <div class="question-tracker" id="questionTracker"
             th:text="${currentQuestionIndex != null ? currentQuestionIndex + 1 : 1} + ' / ' + ${totalQuestions}">
        </div>
    </div>

    <!-- 문제와 보기 -->
    <div class="question-area" th:with="questionType=${questionType}, question=${question}">
        <div th:if="${questionType == IMAGE_SELECT}" class="image-container">
            <img th:src="@{${question.imageFile}}" alt="Image" class="question-image">
        </div>
        <div th:if="${questionType == VIDEO_SELECT}" class="video-container">
            <video th:src="@{${question.videoFile}}" controls class="question-video"></video>
        </div>

        <div th:if="${questionType == TTS_SELECT}" class="question-audio-container">
            <audio th:src="@{${questionAudio}}" controls></audio>
        </div>

        <p th:unless="${questionType == TTS_SELECT}" class="question-text" id="questionText"
           th:text="${question.questionText}" th:if="${question.questionText != null}">
            다음 이미지를 보고, 올바른 답을 선택하세요.
        </p>

        <div class="choices-container">
            <div th:if="${questionType == 'IMAGE_SELECT'}" class="choices">
                <button class="choice-button" id="choice1_type_tts" th:onclick="|selectAnswer('choice1_type_tts', event, 1)|">
                    <audio th:src="@{${ex1Audio}}"></audio>
                    <button type="button" class="play-button" onclick="playAudio(this)">재생</button>
                    <button type="button" class="pause-button" onclick="pauseAudio(this)">일시 정지</button>
                </button>
                <button class="choice-button" id="choice2_type_tts" th:onclick="|selectAnswer('choice2_type_tts', event, 2)|">
                    <audio th:src="@{${ex2Audio}}"></audio>
                    <button type="button" class="play-button" onclick="playAudio(this)">재생</button>
                    <button type="button" class="pause-button" onclick="pauseAudio(this)">일시 정지</button>
                </button>
                <button class="choice-button" id="choice3_type_tts" th:onclick="|selectAnswer('choice3_type_tts', event, 3)|">
                    <audio th:src="@{${ex3Audio}}"></audio>
                    <button type="button" class="play-button" onclick="playAudio(this)">재생</button>
                    <button type="button" class="pause-button" onclick="pauseAudio(this)">일시 정지</button>
                </button>
            </div>

            <div th:unless="${questionType == 'IMAGE_SELECT'}" class="choices">
                <button class="choice-button" id="choice1_type_other" th:text="${question.ex1}" th:onclick="|selectAnswer('choice1_type_other', event, 1)|"></button>
                <button class="choice-button" id="choice2_type_other" th:text="${question.ex2}" th:onclick="|selectAnswer('choice2_type_other', event, 2)|"></button>
                <button class="choice-button" id="choice3_type_other" th:text="${question.ex3}" th:onclick="|selectAnswer('choice3_type_other', event, 3)|"></button>
            </div>  <!-- choices 끝 -->
        </div>  <!-- choices-container 끝 -->
    </div>  <!-- question-area 끝 -->

    <!-- 하단 영역 -->
    <div class="footer">
        <div id="timer_app"></div>
        <button type="submit" class="next-button" onclick="nextQuestion(event)">다음 문제</button>
    </div>

    <!-- totalQuestions 값 설정 -->
    <input type="hidden" id="totalQuestions" th:value="${totalQuestions}">
    <!-- 현재 문제 인덱스 값 설정 -->
    <input type="hidden" id="currentQuestionIndex" th:value="${currentQuestionIndex}">
    <!-- 정답 인덱스 -->
    <input type="hidden" id="correctAnswerIndex" th:value="${question.answer}">
</div>
<script th:src="@{/js/timer.js}"></script>
<script th:src="@{/js/question.js}"></script>
</body>
</html>
