<!DOCTYPE html>
<!--<form action="#" th:action="@{/submit}" method="post">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 입력</title>
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/register.css">



</head>
<body>
<!-- 회원가입 폼 섹션 -->
<div class="container">
    <!-- 이미지 섹션 -->
    <div class="left_side">
        <img src="/image/join_left.png" alt="로그인_이미지" class="join_image">
    </div>

    <div class="right_side">
        <h1>회원가입</h1>
        <hr>
        <!-- 오류 메시지 표시 -->
        <div th:if="${error}" style="color: red;"> <!-- 오류 메시지 표시 -->
            <p th:text="${error}"></p>
        </div>

        <form action="/register" method="post">
            <!-- 이메일 입력란 -->
            <div class="input_group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email"
                       placeholder="example@google.com" required>
            </div>

            <!-- 닉네임 입력란 -->
            <div class="input_group">
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" name="nickname" required>
            </div>

            <!-- 비밀번호 입력란 -->
            <div class="input_group">
                <label for="pw">비밀번호</label>
                <input type="password" id="pw" name="pw" required>
            </div>

            <!-- 비밀번호 확인 입력란 -->
            <div class="input_group">
                <label for="password_confirm">비밀번호 확인</label>
                <input type="password"
                       id="password_confirm"
                       name="password_confirm" required>
            </div>

            <!-- 체크박스 -->
            <div class="checkbox">
                <input type="checkbox" id="agree">
                <label for="agree">위의 정보로 계정을 만드는 데에 동의합니다.</label>
            </div>

            <!-- 가입하기 및 구글 아이디 로그인 버튼 -->
            <button type="submit" class="btn_join">가입하기</button>
            <button type="button" class="btn_google">
                <img src="/image/google_logo.png" alt="google_logo" class="google_logo">
                Google 아이디로 로그인
            </button>
        </form>
        <hr class="bottomhr">

        <!-- 이미 계정이 있을 경우 로그인 페이지로 리다이렉트 -->
        <p class="login_link"><a href="#">이미 계정이 있습니까?</a></p>

    </div>  <!-- 로그인 폼 섹션 끝 -->

</div>  <!--div_container 끝-->

</body>
</html>