<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문제 유형 선택</title>
  <link rel="stylesheet" href="/static/css/select_stage.css">
</head>
<body>

<h1>문제 유형을 선택하세요</h1>

<button onclick="location.href='/select/1'">단어 선택</button>
<button onclick="location.href='/select/2'">이미지_듣기</button>
<button onclick="location.href='/select/3'">단어 선택_영상</button>
<button onclick="location.href='/select/4'">듣기_대화</button>

</body>
</html>